@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@font-face {
  font-family:'BYekan' ;
  src: url('./fonts/BYekan-webfont.eot') format('eot'),
  url('./fonts/BYekan-webfont.ttf') format('truetype'),
  url('./fonts/BYekan-webfont.woff') format('woff');
}
* {
  box-sizing: border-box;
}

html {
  font-family: 'BYekan';
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

